*{
    margin:0;
    padding:0;
    color:#444444;
}

.container{
    width: 400px;
    height: 500px;
    background-color: #fff;
    box-shadow: 2px 2px 10px 2px black;
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
    position: absolute;
    left:0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
}
h3{
    text-align: center;
}
tr{
    margin-top: 20px;
}

label{
    text-align: right;
}
.button{
    padding: 20px;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: center;
}
button{
    background-color: #fff;
    border:none;
    box-shadow: 1px 1px 2px 1px black;
    cursor: pointer;
}

span{
    font-weight: bold;
}